<!DOCTYPE html>
<html>
<head>
	<title>Car Search</title>
	<link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
	<main>
		<section class="hero">
			<div class="hero-inner">
				<h1>Find Your Dream Car</h1>
				<form action="/carinfo" method="get">
					<input type="text" name="brand" placeholder="Brand">
                    <input type="text" name="model" placeholder="Model">
					<button type="submit">Search</button>
				</form>
			</div>
		</section>
	</main>

</body>
</html>
